body {
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #2F3237;
  -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

a {
	text-decoration: underline;
}

a:link {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	font-weight: bold;
}

h1 {
	margin: 5px 0 5px 5px;
	padding: 0;
	font-size: 1.3em;
	letter-spacing: .4em;
	text-align: center;
}

h2 {
	margin: 0px 0 5px 0;
	font-size: 1.0em;
	letter-spacing: .3em;
}

.App {
  text-align: center;
  width: 100%;
}

.Header {
	margin-top: 70px;
	width: 100%;
}

.Header-menu-button {
	margin-right: 20px;
}

.Header-toolbar {
	display: block;
	width: 100%;
}

.Header-title {
	text-align: left;
}

.Header-navbar-links {
	width: 900px;
	display: none;
	margin: 0 auto;
}

.Header-navbar-links-ul {
	list-style-type: none;
}

.Header-navbar-links-ul li {
	display: inline-block;
	letter-spacing: .2em;
	width: 170px;
}

.Header-navbar-links-ul li a {
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: 900px) {
	.Header-toolbar {
		display: none;
	}
	.Header-navbar-links {
		display: block;
	}
}

.Header-headshot {
	height: 200px;
	margin: 10px 0 5px 0;
	max-width: 90%;
}

.Header-icon-bar {
	width: 110px;
	margin: 0 auto 20px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Header-icons {
	width: 16px;
	cursor: pointer;
}

.Header-short-message {
	width: 70%;
	max-width: 500px;
	margin: 5px auto 15px auto;
}

.Header-about-me {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
}

.LeftDrawer-header {
	width: 100%;
	border-bottom: 1px #f50057 solid;
}
.LeftDrawer-headshot {
	height: 75px;
	margin: 30px 100px 25px 100px;
}

.Drawer {
  width: 300px;
}

.Drawer a {
  text-decoration: none;
  color: none;
}

.Portfolio-header-and-skills {
	min-width: 375px;
}

.Skills {
	background-color: #2F3237;
	color: white;
	font-size: 1.1em;
	letter-spacing: .2em;
	height: 100%;
	padding: 0;
}

.Skills-title {
	padding: 40px 0 10px 0;
}

.Skills-MERN-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto 15px auto;
}

.Skills-MERN-item {
	text-align: left;
}

.Skills-MERN-item-image {
	display: inline-block;
	width: 60px;
	text-align: center;
	vertical-align: bottom;
}

.Skills-MERN-item-text {
	display: inline-block;
	line-height: 55px;
	width: 80px;
	height: 100%;
}

.Skills-react-icon {
  animation: icon-spin infinite 20s linear;
}

.Skills-node-icon {
	width: 35px;
}

.Skills-mongo-icon {
	width: 35px;
	padding: 0 0 3px 0;
}

.Skills-nonMERN-list {
	margin: 5px 0 0 0;
	font-size: .8em;
}

.NextPage {
	font-size: normal;
	margin: 40px 0 0 0;
}

.NextPage a {
	text-decoration: none;
	color: inherit;
}

.NextPage-title {
	margin: 0 0 10px 0;
}

.Project {
	padding-top: 70px;
	min-height: 600px;
	font-size: 1em;
	letter-spacing: .1em;
}

.Project-icon-wrapper {
	padding: 0 0 10px 0;
	height: 60px;
}

.Project-icon {
	width: 60px;
}

.Project-title {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 auto 20px auto;
	max-width: 75%;
}

.Project-challenge {
	min-width: 220px;
	max-width: 700px;
	width: 75%;
	margin: 0 auto 0 auto;
	font-weight: bold;
}

.Project-story {
	min-width: 220px;
	width: 75%;
	max-width: 700px;
	margin: 20px auto 0 auto;
}

.Project-screenshot-and-link {
	margin: 40px auto 40px auto;
	width: 50%;
	max-width: 500px;
	min-width: 200px;
	border: 5px solid transparent;
}

.Project-screenshot {
	width: 100%;
	margin: 0 0 10px 0;
	cursor: pointer;
}

.Project-screenshot-and-link:hover {
	border: 5px yellow solid;
}

.Project-screenshot-and-link a  {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	font-size: 1.1em;
}

.Project-screenshot-and-link a:link {
	color: inherit;
}

.Project-screenshot-and-link a:visited  {
	color: inherit;
}

.Project-screenshot-and-link a:hover  {
	font-weight: bold;
}

.Project-repo {
	margin: 0 0 20px 0;
	cursor: pointer;
}
.Project-repo-icon {
	vertical-align: middle;
	margin: 0 10px 0 0;
}
.Project-skills {
	padding: 0 0 40px 0;
}

.AboutMe-intro {
	width: 80%;
	max-width: 500px;
	margin: 0 auto 0 auto;
}

.AboutMe-blurb {
	width: 80%;
	max-width: 800px;
	border-radius: 10px;
	background-color: #cef2ff;
	margin: 20px auto 20px auto;
	padding: 20px;

}

@keyframes icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
